/* General styling */
body {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.team {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.controls {
  margin-top: 10px;
}

button {
  font-size: 18px;
  padding: 10px;
  width: 40px;
  margin: 5px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

#score-0, #score-1, #score-2 {
  font-size: 30px;
  font-weight: bold;
}

.team-1 {
  background-color: lightblue;
}

.team-2 {
  background-color: red;
}

.team-3 {
  background-color: green;
}
