/* General styling */
body {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: transparent; /* Remove any background */
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  background-color: transparent; /* Remove background from scoreboard */
}

.team {
  background-color: transparent; /* Remove background from team boxes */
  padding: 5px;  /* Smaller padding */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 150px;  /* Reduced width by half */
  text-align: center;
}

h3 {
  font-size: 30px;  /* Keep the team name font size the same */
  margin-bottom: 5px;
}

.controls {
  margin-top: 5px;
}

button {
  font-size: 16px;
  padding: 6px;  /* Reduced button padding */
  width: 25px;  /* Reduced button width */
  margin: 3px;  /* Reduced margin between buttons */
  cursor: pointer;
}

button:focus {
  outline: none;
}

#score-0, #score-1, #score-2 {
  font-size: 20px;  /* Keep score font size the same */
  font-weight: bold;
}

.team-1 {
  background-color: #F8BBD0;
}

.team-2 {
  background-color: #A8E9FF;
}

.team-3 {
  background-color: #FFDAB9;
}




